



<div class="card p-4 mb-4 h-100">
  <div class="card-body height">
       <h4 class="bg-warning p-2">{{isinEditMode? '  Update Travel Memory' : 'Add New Travel Memory'}}</h4>
    <form #travelForm="ngForm" (ngSubmit)="onMemoryAdd()" >
       
     

            <input class="form-control mb-2"
                ngModel
                name="placeName"
                #placeName="ngModel"
                required
                 placeholder="Place Name">
                 <strong class="text-danger" *ngIf="placeName.touched && placeName.invalid">
                    PlaceName is required Field !</strong>
    

            <input class="form-control mb-2"
                ngModel
                name="country"
                #country="ngModel"
                required
                placeholder="Country">
                <strong class="text-danger" *ngIf="country.touched && country.invalid">Country is required field!</strong>

            <input type="date" 
                ngModel
                name="travelDate"
              
            class="form-control mb-2">

            <input class="form-control mb-2"
                ngModel
                name="imageUrl"
                #imageUrl="ngModel"
                required
                placeholder="Image URL">
                <strong class="text-danger" *ngIf="imageUrl.touched && imageUrl.invalid">Image is required field !</strong>

            <select type="text" class="form-control mb-2" ngModel name="rating" required>
                <option value="">- - Select Rating - -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <textarea class="form-control mb-3"
                ngModel
                name="description"
                #description="ngModel"
                required
                placeholder="Description"></textarea>
                <strong class="text-danger" *ngIf="description.touched && description.invalid">
                    Description is required field !
                </strong>

            <button 
                [disabled]="travelForm.invalid"
                *ngIf="!isinEditMode" type="submit" 
                class="btn btn-info w-100">
                Add Memory
            </button>
            <button *ngIf="isinEditMode" (click)="onUpdate()" type="button"
                class="btn btn-info w-100">
              Update Memory
            </button>
    </form>
  </div>

</div>