



<div class="card p-4 mb-4 h-100">
  <div class="card-body height">
       <h4 class="bg-warning p-2">{{isinEditMode? '  Update Memory' : 'Add Memory'}}</h4>
    <form #travelForm="ngForm" (ngSubmit)="onMemoryAdd()" >
     

            <input class="form-control mb-2"
                ngModel
                name="placeName"
                 placeholder="Place Name">
    

            <input class="form-control mb-2"
                ngModel
                name="country"
                placeholder="Country">

            <input type="date" 
                ngModel
                name="travelDate"
            class="form-control mb-2">

            <input class="form-control mb-2"
                ngModel
                name="imageUrl"
                placeholder="Image URL">

            <select type="text" class="form-control mb-2" ngModel name="rating">
                <option value="">- - Select Rating - -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <textarea class="form-control mb-3"
                ngModel
                name="description"
                placeholder="Description"></textarea>

            <button *ngIf="!isinEditMode" type="submit" 
                class="btn btn-info w-100">
                Add Memory
            </button>
            <button *ngIf="isinEditMode" (click)="onUpdate()" type="button"
                class="btn btn-info w-100">
              Update Memory
            </button>
    </form>
  </div>

</div>