



<div class="card p-4 mb-4 h-100">
  <div class="card-body height">
    <form #travelForm="ngForm" (ngSubmit)="onMemoryAdd()" >
        <h4>Add Memory</h4>

            <input class="form-control mb-2"
                ngModel
                name="placeName"
                required
                 placeholder="Place Name">
    

            <input class="form-control mb-2"
                ngModel
                name="country"
                required
                placeholder="Country">

            <input type="date" 
                ngModel
                name="travelDate"
                
            class="form-control mb-2">

            <input class="form-control mb-2"
                ngModel
                name="imageUrl"
                required
                placeholder="Image URL">

            <select type="text" class="form-control mb-2" ngModel name="rating" required>
                <option value="">- - Select Rating - -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <textarea class="form-control mb-3"
                ngModel
                name="description"
                required
                placeholder="Description"></textarea>

            <button type="submit"
                class="btn btn-info w-100">
                Add Memory
            </button>
    </form>
  </div>

</div>