

<!-- <h4>My Travel Memories</h4>

<div class="card mb-3" *ngFor="let t of travelInfo">
  <img [src]="t.imageUrl" class="card-img-top">

  <div class="card-body">
    <h5>{{ t.placeName }}, {{ t.country }}</h5>
    <p>{{ t.description }}</p>
    <p>⭐ {{ t.rating }}</p>

    <button class="btn btn-warning me-2">
      Edit
    </button>

    <button class="btn btn-danger">
      Delete
    </button>
  </div>
</div> -->


<h4 class="font-weight-bold">Travel Memories</h4>

<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let t of travelInfo">
    <div class="card h-100">
      <img [src]="t.imageUrl" class="card-img-top">

      <div class="card-body">
        <h5><strong>{{ t.placeName }}, {{ t.country }}</strong></h5>
        <p>Date : {{ t.travelDate | date }}</p>
        <p>{{ t.description }}</p>
        <p>⭐ {{ t.rating }}</p>

       <div class="card-footer d-flex justify-content-between">
         <button class="btn btn-warning me-2"
          >
          Edit
        </button>

        <button class="btn btn-danger"
          >
          Delete
        </button>
       </div>
      </div>
    </div>
  </div>
</div>

