/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
.success-snackBar{
    background-color: #2e7d32 !important;
    color:white !important;
}

.success-snackBar .mat-mdc-snack-bar-label{
    text-align:center !important;
    width:100%;
}
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 8f5ba418473e9c812d2c7f147d17aba54e1d2af6
